:root {
  --red: #f38181;
  --yellow: #fce38a;
  --lime: #eaffd0;
  --teal: #95e1d3;
}

body {
  font-family: "Poppins", sans-serif;
}

.landing-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  height: 100vh;
  line-height: 1.6;
  font-size: larger;
  background-image: url("../images/layered-waves.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

span {
  font-weight: bold;
  color: var(--red);
}
button {
  border-radius: 5px;
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.781);
  cursor: pointer;
  padding: 0 10px;
  height: 45px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
button:hover {
  background: linear-gradient(135deg, var(--yellow), var(--lime));
}
